/* ---------------------------- */
/*    Propriétés générales      */
/* ---------------------------- */


header nav ul{
  padding: 0;
  list-style: none;
  position: relative;
}

.mesLi{
  display: flex;
}

/* menu mobile hide */
.dropdown{
  display: none;
  position: absolute;
}

#main-nav a:hover{
  background-color: blueviolet;
  color: cyan;
  border-radius: 15px;
  margin: 0 20px;
}

.fr,.fl{display: block;}
.fr{float: right;}
.fl{float: left;}

/* ---------------------------- */
/*        Typographies          */
/* ---------------------------- */

html{
  font-size: 62.5%;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6;
  background-image: -webkit-linear-gradient(100deg,#3218d4,#af289d); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(100deg,#3218d4,#af289d); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(100deg,#3218d4,#af289d); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(100deg,#3218d4,#af289d); /* Standard syntax; must be last */
}

.txt-white,
p label{
  color: #fff;
  margin-bottom: 35px;
  text-decoration: none;
  list-style: none;
}

#container, .container{
  margin: 0 5%;
}


#champion .edit h2{
  margin-top: unset;
}

h1, h2{
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1{
  font-size: 4.0rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;

}
h2{
  font-size: 4.0rem;
  margin: 20px 0;
}

a:hover{opacity: 0.7;}
a{transition: all 0.5s}

.btn{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid;
  border-color: #3218d4;
  color: #fff;
  background-image: -webkit-linear-gradient(#1cc9e9,#3218d4); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(#1cc9e9,#3218d4); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(#1cc9e9,#3218d4); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(#1cc9e9,#3218d4); /* Standard syntax; must be last */
}

.btn-ghost{
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
  text-decoration: none;
}


.btn-ghost:hover{
  color: #000;
  background-color: #c4f6ff;
}


/* ---------------------------- */
/*          HEADER              */
/* ---------------------------- */
#header-main{
  height: 80px;
  z-index: 21;
}

#header-main .container, #site-logo, #site-logo img{
  height: 100%;
}

header{
  background-color: #02012f;
  padding: 20px 0;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0%;
}
header a{
  color: #fff;
  text-decoration: none;
}

nav li{
  display: inline-block;
}
nav a{
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 6px;
}

/* ---------------------------- */
/*            MAIN              */
/* ---------------------------- */

main section{
  clear: both;
}

main{
  padding: 100px;
}


.banner .img-container{
  display: block;
  margin: 0 auto;
  width: 75%;
}

#hero-banner{
  padding-top: 30px;
}


/* ---------------------------- */
/*          FOOTER              */
/* ---------------------------- */

footer{
  background-color: #02012f;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

footer a{color: #fff;}

/* ---------------------------- */
/*      login-inscription       */
/* ---------------------------- */

h1, h2, .form{
  text-align: center;
  color: #fff;
}

form{
  width: 700px;
  margin: 0 auto 30px auto;
}

legend{
  font-size: 20px;
  font-weight: 800;
  padding: 0 10px;
  color: #fff;
}

fieldset{
  margin: 40px 0;
  border: 1px solid #fff;
  padding: 10px 50px 20px;
  background-color: blueviolet;
}

.reinitialise{
  margin-bottom: 30px;
}

/* ---------------------------- */
/*      statistiques            */
/* ---------------------------- */
.punch{
  flex-direction: column;
  margin: 0 auto;
} 

#champion a{
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 15px;
  text-align: center;
}

.flex{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.champion-cards{
  flex-direction: column;
}

.champion-cards img{
  width: 300px;
  margin: 0 auto;
}

#champion .champion-cards{
  margin: 20px auto;
}

.edit{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 32%;
}
#logine{
  width: 80%;
  margin: auto;
}
#login{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.formspace{
  margin-left: 20px;
}

#login .btnwidth{
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

#champion#champion-cards.centre{
  justify-items: center;
  margin: auto;
}

#champion .stat a img{
  padding-right: 40px;
}


/* ---------------------------- */
/*      Animation                */
/* ---------------------------- */

#premier{
  top: 30px;
} 

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: #966b00;
}

.cls-3 {
  fill: #ffd34d;
}

.cls-4 {
  fill: #414042;
}

.cls-5 {
  fill: #a7a9ac;
}

.cls-6 {
  fill: #bcbec0;
}

.cls-7 {
  fill: #585b60;
}

.cls-8 {
  fill: #989ca0;
}

.cls-9 {
  fill: #808285;
}

.cls-10, .cls-33 {
  fill: none;
}

.cls-11 {
  fill: #5a5b5b;
}

.cls-12 {
  fill: #603913;
}

.cls-13 {
  fill: #eaad18;
}

.cls-14, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20 {
  fill: #fff;
}

.cls-14, .cls-15, .cls-16, .cls-18, .cls-21, .cls-23 {
  mix-blend-mode: soft-light;
}

.cls-15, .cls-21 {
  opacity: 0.51;
}

.cls-16 {
  opacity: 0.5;
}

.cls-18 {
  opacity: 0.56;
}

.cls-19 {
  opacity: 0.59;
}

.cls-19, .cls-20, .cls-22 {
  mix-blend-mode: overlay;
}

.cls-20, .cls-22 {
  opacity: 0.31;
}

.cls-24 {
  fill: #282828;
}

.cls-25 {
  fill: #999;
}

.cls-26 {
  fill: #d69900;
}

.cls-27 {
  fill: gray;
}

.cls-28 {
  fill: #e6e6e6;
}

.cls-29, .cls-31 {
  mix-blend-mode: screen;
}

.cls-29 {
  fill: url(#linear-gradient);
}

.cls-30, .cls-32 {
  mix-blend-mode: color-dodge;
}

.cls-30 {
  fill: url(#linear-gradient-2);
}

.cls-31 {
  fill: url(#linear-gradient-3);
}

.cls-32 {
  fill: url(#linear-gradient-4);
}


/* ---------------------------- */
/*      Bouton modal            */
/* ---------------------------- */
#avert{
  width: 300px;
  margin: 100px auto;
}

#avert:active {
  width: 180px;
  transform: translateY(6px);
}

#lamodal{
  text-align: center;
}

.cls-71{isolation:isolate;}
.cls-72{fill:url(#linear-gradient);}
.cls-73{fill:url(#linear-gradient-2);}
.cls-74{fill:url(#linear-gradient-3);}
.cls-75{fill:#f08159;}
.cls-76{font-size:10px;fill:#fff;font-family:ErasITC-Bold, Eras Bold ITC;font-weight:700;}
.cls-77{mix-blend-mode:color-burn;fill:url(#radial-gradient);}
.cls-78,.cls-79{mix-blend-mode:screen;}
.cls-78{fill:url(#linear-gradient-4);}
.cls-79{fill:url(#linear-gradient-5);}
.cls-70{mix-blend-mode:multiply;fill:url(#linear-gradient-6);}

/* ---------------------------- */
/*      Armes                   */
/* ---------------------------- */
.cls-81{isolation:isolate;}
.cls-82{fill:url(#linear-gradient);}
.cls-83{fill:url(#linear-gradient-2);}
.cls-84{fill:url(#linear-gradient-3);}
.cls-85{fill:#a827a0;}
.cls-86{font-size:10px;fill:#fff;font-family:ErasITC-Bold, Eras Bold ITC;font-weight:700;}
.cls-87{mix-blend-mode:color-burn;fill:url(#radial-gradient);}
.cls-88,.cls-89{mix-blend-mode:screen;}
.cls-88{fill:url(#linear-gradient-4);}
.cls-89{fill:url(#linear-gradient-5);}
.cls-80{mix-blend-mode:multiply;fill:url(#linear-gradient-6);}


.arme{
  display: flex;
  flex-wrap: nowrap;
}

.boutton{
  width: 150px;
  margin: 0 20px;
}
/* ---------------------------- */
/*      Armures                 */
/* ---------------------------- */
.cls-91{isolation:isolate;}
.cls-92{fill:url(#linear-gradient);}
.cls-93{fill:url(#linear-gradient-2);}
.cls-94{fill:url(#linear-gradient-3);}
.cls-95{fill:#3d19cf;}
.cls-96{font-size:10px;fill:#fff;font-family:ErasITC-Bold, Eras Bold ITC;font-weight:700;}
.cls-97{mix-blend-mode:color-burn;fill:url(#radial-gradient);}
.cls-98,.cls-99{mix-blend-mode:screen;}
.cls-98{fill:url(#linear-gradient-4);}
.cls-99{fill:url(#linear-gradient-5);}
.cls-90{mix-blend-mode:multiply;fill:url(#linear-gradient-6);}


/* ---------------------------- */
/*      Image statistique       */
/* ---------------------------- */
 .profil{
  position: relative;
  padding-right: 30px;
}

.titre{
  position: absolute;
  bottom: 20%;
  color: #02012f;
  left: 18%;
  bottom: 0%;
  text-transform: uppercase;
} 

/* ---------------------------- */
/*      Menu Mobile             */
/* ---------------------------- */
#header-mobile{
  display: none;
}

#menusvg .fas{
  width: 30%;
}

.menu-bar{
  height: 500%;
  width:653%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 52px;
}

.menu-bar a{
  margin: 0 25%;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(100deg,#3218d4,#af289d);
  min-width: 160px;
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #af289d;
}
.show {
  display: block;
}
#myDropdown{
  right: 0%;
}

/* ---------------------------- */
/*      Gallery                 */
/* ---------------------------- */
#gallery{
  height: 100%;
  width: 100%;
}

.miniature{
  height: 20%;
  width: 25%;
  border: 3px solid violet;
  margin: 5px;
}

#galleryArmes, #galleryArmures{
  width: 100%;

  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#menusvg img{
  z-index: 10;
}

/* ---------------------------- */
/*      Responsive              */
/* ---------------------------- */

@media screen and (max-width:768px){
  main{
    
    padding: unset;
    /* margin-top: 500px; */
  }
  #header-main{
    display: none;
  }

  #hero-banner{
    margin-top: 100px;
  }

  header{
    height: 80px;
  }

  #header-mobile{
    display: block;
    z-index: 21;
  }

  #container, .container{
    margin: 0 40px 150px 40px;
  }

  .container{
    display: flex;
    flex-direction: row;
    padding: 75px;
  }

  #container>ul{
    width: 50%;
    justify-content: center;
  }

  .menumobileflex{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }

  #site-logo img{
    width: 80%;
    height: 80%;
  }

  h1{
    font-size: 2em;
  }

  h2 {
    font-size: 3.0rem;
  }

  #login{
    margin-top: 50px;
    flex-direction: column;
  }

  #login .bouton{
    margin: 0 auto;
  }

  .formspace {
    margin: 20px auto;
 }

  form, #form-inscription{
    width: 50%;
  }

  #form-inscription, #formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: unset;
  }

  #form-inscription>input{
    margin: 10px auto;
  }  
}



